@page "/"

<AuthorizeView>
        <Authorized>
           <div>Ön be van jelentkezve. <h2>@context.User.Identity.Name , @context.User.Claims.First().Value</h2></div>
        </Authorized>
        <NotAuthorized>
           <div>Az alkalmazás használatához jelentkezzen be.</div>
        </NotAuthorized>
</AuthorizeView>