@page "/"

<AuthorizeView>
        <Authorized>
           <div>Ön be van jelentkezve. </div>
        </Authorized>
        <NotAuthorized>
           <div>Az alkalmazás használatához jelentkezzen be.</div>
        </NotAuthorized>
</AuthorizeView>