@inject NavigationManager NavManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

<AuthorizeView>
    <Authorized>
        <button @onclick="Logout" class="btn btn-danger">Kijelentkezés</button>
    </Authorized>
    <NotAuthorized>
        <button @onclick="Login" class="btn btn-primary">Bejelentkezés</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("token");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavManager.NavigateTo("/");
    }

    void Login()
    {
        NavManager.NavigateTo("login");
    }
}
